<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                        <resource id="Extait_Articles::articles_list" title="Articles List" sortOrder="40">
                            <resource id="Extait_Articles::save" title="Save" sortOrder="10" />
                            <resource id="Extait_Articles::delete" title="Delete" sortOrder="20" />
                        </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Extait_Articles::article" title="Contacts Section" translate="title" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
