<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <articles>
            <seo>
                <article_url_suffix>.html</article_url_suffix>
                <article_mail_header>Extait Digest for |month|</article_mail_header>
            </seo>
        </articles>
    </default>
</config>
